<div class="summary-nav">
    <div class="nav-header">
        <div class="user-info">
            <p>hello {{ (currentUser$ | async)?.email }}</p>
        </div>

        <div class="nav-actions">
            <button class="btn logout" (click)="logout()">Logout</button>
            <button class="btn primary" (click)="createNewSummary()">New Summary</button>
        </div>
    </div>
    @if(summaries().length === 0) {
    <p class="no-summaries-text">No summaries available. Click "New Summary" to get started.</p>
    }
    @else {
    <ul class="summary-list">

        @for (item of summaries(); track $index) {
        <li class="summary-item">
            <nav-bar-button [text]="item.title" [id]="item.id"></nav-bar-button>
        </li>
        }

    </ul>
    }
</div>